#FASTAPI 및 서버관련 
fastapi
uvicorn[standard]
websockets

#데이터베이스
SQLAlchemy
aiomysql

#HTTP 클라이언트(추후 MCP 확장)
httpx

# OpenAI
openai==2.6.0


# LangChain 모듈
langchain-community     
langchain-classic       
langchain-openai
langchain-google-genai
langgraph
langchain-core

# Document Processing (PDF, Images, OCR)
PyMuPDF
Pillow
pytesseract 

# 벡터 스토어
faiss-cpu

# 환경변수 관리
python-dotenv

# 인증 및 암호화 (JWT)
python-jose[cryptography] 
passlib
bcrypt==4.0.1
PyJWT

#기타 
ipython
pydantic
requests